<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p id="about">This is probably the best app ever to check the weather.</p>
      <p id="about">This app is getting lon/lat through the mapbox API, and uses openWeather for the forecast.</p>
    </div>
    {{>footer}}
  </body>
</html>
